<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Francesco Magliocca</title>
</head>
<body>


  <app-header></app-header>
<app-right-nav></app-right-nav>

 <div class="firma">
   <img src="../../../assets/img/Code.jpg"  height="30px">
    <p class="nome">𝕱𝖗𝖆𝖓𝖈𝖊𝖘𝖈𝖔 𝕸𝖆𝖌𝖑𝖎𝖔𝖈𝖈𝖆</p>
    <p class="lavoro">Informatico</p>
    <p class="lavoro">Sito personale fatto in autonomia con Angular <fa-icon [icon]="faAngular"></fa-icon> </p>
 </div>

 <footer>
  <div class="footer-content">
      <h3>Get in touch!</h3>
      <p>franci.magliocca@gmail.com | Tel:+39 3381474780</p>
      <ul class="socials">
          <li><a href="https://www.facebook.com/FranciMagliocca/"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
          <li><a href="https://www.linkedin.com/in/francesco-magliocca/"><fa-icon [icon]="faLinkedin" ></fa-icon></a></li>
          <li><a href="https://www.instagram.com/francesco_magliocca_/" ><fa-icon [icon]="faInstagram" ></fa-icon></a></li>
          <li><a href="mailto:franci.magliocca@gmail.com"><fa-icon [icon]="faEnvelope" ></fa-icon></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy;2023 FrancescoMagliocca. designed by <span>FrancescoMagliocca with Angular</span></p>
  </div>
</footer>

</body>
</html>
