<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Francesco Magliocca</title>
</head>
<body>

  <app-header></app-header>
  <app-right-nav></app-right-nav>

   <div class="firma">
     <img src="../../../assets/img/Code.jpg"  height="30px">
      <p class="nome">𝕱𝖗𝖆𝖓𝖈𝖊𝖘𝖈𝖔 𝕸𝖆𝖌𝖑𝖎𝖔𝖈𝖈𝖆</p>
      <p class="lavoro">Informatico</p>
      <p class="lavoro">Sito fatto in autonomia in Angular <fa-icon [icon]="faAngular"></fa-icon></p>
   </div>


   <div class="d-flex flex-column flex-md-row justify-content-center w-100 contenitore">

    <div class=" p-2 presentation">

      <p>
        <br><br>
          <span class="io">Ciao! Sono Francesco Magliocca, <br> informatico ed
            ex arbitro di calcio <br></span>
            <br>

            <span class="tuttoio">Mi chiamo Francesco Magliocca,sono del 1999
              e sono di Torino. Mi sono diplomato
              al Liceo Scientifico tecnologico F.Juvarra a Venaria reale(TO) <br>
              Dopo il liceo mi sono iscritto immediatamante al Dipartimento di
              Informatica dell'Università di Torino dove mi sono laureato il
              09/06/2022. Durante l'università ho avuto modo di
              studiare diverse materie del campo dell'Informatica(Programmazione
              Java,Web Development,Sicurezza <br> informatica, database,...)
              L'informatica è sempre stato il mio campo di interesse, adoro questo mondo a 360 gradi
            <br> per cui ho cercato anche da autodidatta di apprendere il più possibile da tutte le fonti in rete. <br>
              Ho frequentato un Bootcamp di Python nel campo dell'analisi dati ed ho studiato diverse dispense nel campo della Sicurezza Informatica.
              Ho avuto modo di fare diverse esperienze lavorative come illustrato più avanti che mi hanno permesso di conoscere meglio quello che sarà <br>
            il mio percorso lavorativo nel campo dell'informatica. <br> Sono una persona che si adatta facilmente ad ogni tipo di problema e che ha tanta voglia
            di imparare e di mettersi in gioco. Il mio motto è : <strong>Fly High!</strong></span>
     </p>

     <br>
     <br>


  </div>

    <div class="p-2 dasimages"><img src="../../../assets/img/insta1.png" width="100%" id="imagechange"/></div>


  </div>

  <h2 class="iotitolo">Esperienze lavorative:</h2>

  <div class="workExperience">

    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Scheinder Electric</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">AGM Solutions</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Iveco</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <strong>FullStack developer.</strong> La mia prima esperienza lavorativa è stata presso <br> la sede di Torino di Scheinder
            Electric. Mi sono occupato dello sviluppo e della manutenzione di una web app
            ad uso aziendale sia lato front-end sia back-end <br>
            <u>Tecnologie utilizzate:</u> PHP,Angular,Html,CSS,TS.
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <strong>Software developer.</strong> Per un periodo ho lavorato presso
            l'azienda AGM Solutions nella sede di Torino. Dopo un periodo di formazione
            sulle tecnologie di sviluppo web sono stato inserito in un team di sviluppo
            aziendale dove lavoravamo su diversi software sia lato back-end sia front-end. <br>
            <u>Tecnologie utilizzate:</u> Java,Angular,Html,CSS,TS, <br> Hibernate,Springboot,GIT.
          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <strong>Analista e progettista di basi di dati.</strong> Attualmente sono
            un dipendente Iveco nel campo della Bussiness Intelligence. Mi occupo di
             monitoraggio delle prestazioni del SW di gestione della banca dati, di svuluppare
             dashboard automatiche in Qlik e della costruzione KPI in ambito ricambi.
             <u>Tecnologie utilizzate:</u> Qlik,Access, Excel, Macro/VBA Development.
          </div>
        </div>
      </div>
      </div>

  </div>
<br><br>
  <div class="cert">
    <br>

  <h2 class="iotitolo">Formazione e certificazioni:</h2>

  <div class="licenze">

<ul class="license">
  <li class="liceo">Liceo scientifico scienze applicate F.Juvarra. Diploma Scientifico Tecnologico</li>
  <li class="unito">Università degli Studi di Torino. Laurea triennale,Informatica</li>
  <br><br>
  <hr style="color: rgb(49, 139, 150); margin-left: -500px;">
  <li class="udemy">Python Bootcamp 2021. Udemy</li>
  <li class="link">Formazione essenziale su Power BI. Linkedin Learning</li>
  <li class="busuu">Livello B2 di inglese. Busuu</li>
  <li class="busuu">Corso di inglese commerciale. Busuu</li>
</ul>

  </div>
<br>
</div>




  <footer>
    <div class="footer-content">
        <h3>Get in touch!</h3>
        <p>franci.magliocca@gmail.com | Tel:+39 3381474780</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/FranciMagliocca/"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
            <li><a href="https://www.linkedin.com/in/francesco-magliocca/"><fa-icon [icon]="faLinkedin" ></fa-icon></a></li>
            <li><a href="https://www.instagram.com/francesco_magliocca_/" ><fa-icon [icon]="faInstagram" ></fa-icon></a></li>
            <li><a href="mailto:franci.magliocca@gmail.com"><fa-icon [icon]="faEnvelope" ></fa-icon></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 FrancescoMagliocca. designed by <span>FrancescoMagliocca with Angular</span></p>
    </div>
</footer>



</body>
</html>
